<div class="container">
	<div class="row">
		<div class="span6 offset1">
			<div class="login">
				<h2>LOGIN</h2>
				
				<% flash.each do |name, msg| %>
					<div class="alert alert-error">
					<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
					</div>
				<% end %>
				
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
					
				  <div class="control-group"><%= f.label :email, { :class => "control-label" } %>
				  	<div class="controls">
				  		<%= f.email_field :email, :autofocus => true %>
				  	</div>
				  </div>
				
				  <div class="control-group"><%= f.label :password, { :class => "control-label" } %>
				  	<div class="controls">
				  		<%= f.password_field :password %>
				  	</div>
				  </div>
				
				  <% if devise_mapping.rememberable? -%>
				    <div class="control-group"><%= f.label :remember_me, { :class => "control-label" } %>
				    	<div class="controls">
				    		<%= f.check_box :remember_me %> 
				    	</div>
				    </div>
				  <% end -%>
				  
				  <div class="control-group">
				  	<div class="controls">
				  		<%= f.submit "Sign in", {:class=> "btn btn-primary"} %>
				  	</div>
				  </div>
				<% end %>
				
			</div>
		</div>
		<div class="span4">
			<div class="login">
				<%= render "users/shared/links" %>
				
			</div>
			</div>
			
		</div>
	</div>
</div>