<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Receptor y Validador de Facturacion Electronica">
    <meta name="author" content="andres.amaya.diaz@gmail.com">
    <title><%= content_for?(:title) ? yield(:title) : "SoyReceptor.com" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.css' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' %>
    <%= stylesheet_link_tag 'styles.css' %>
    <%= stylesheet_link_tag 'toastr.css' %>
    
    <!-- <link rel="stylesheet" href="/css/fullcalendar.css"> -->
    
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' %>
    <%= javascript_include_tag 'bootstrap.js' %>
    <%= javascript_include_tag 'jquery.knob.js' %>
    <%= javascript_include_tag 'http://d3js.org/d3.v3.min.js' %>
    <%= javascript_include_tag 'jquery.sparkline.min.js' %>
    <%= javascript_include_tag 'toastr.js' %>
    <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
    <%= javascript_include_tag 'jquery.peity.min.js' %>
    
    <!-- <script src="js/fullcalendar.min.js"></script>
    <script src="js/gcal.js"></script>
    <script src="js/setup.js"></script> -->
  </head>
  <body>

    <div id="in-nav">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="pull-right">
              <li><a href="#">Principal</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="logout.html">Salir</a></li>
            </ul><a id="logo" href="index.html">
              <h4>Soy<strong>Receptor</strong>.com</h4></a>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-right">Politica de Privacidad</p>
            <p>&copy; Copyright 2013 Captiva Tecnologia Digital</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "setup" %>

  </body>
</html>